.card-container {
  background-color: white;
  border-radius: 8px 8px 0 0;

  .img-container {
    min-width: 300px;
    min-height: 250px;
    position: relative;

    img {
      cursor: pointer;
    }

    img:hover {
      transform: scale(1.5);
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      z-index: 9;
    }
  }

  .info-container {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .product-title {
      color: var(--text-color-primary);
    }

    .separator-bar {
      border-radius: 5px;
      height: 1px;
      width: 100%;
      margin: 0 auto;
      background-color: var(--text-color-secondary);
    }

    .product-price {
      font-weight: 600;
    }
  }
}

.text-overflow-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
