<main class="main-container">
  <div class="container">
    <section class="filters-container">
      <!-- Categories -->
      <div class="categories-filter">
        @for (category of categories; track $index) {
        <span
          [ngClass]="{ activated: isActive(category) }"
          class="category-label"
          (click)="changeCategory(category)"
          >{{ category }}</span
        >
        }
      </div>
      <!-- Order By -->
      <div class="order-by-container">
        <select
          class="order-by-select"
          [(ngModel)]="orderBySelected"
          (ngModelChange)="changeOrderBy()"
        >
          <option class="order-by-option" [value]="null" disabled>
            Organizar por
          </option>
          <option
            class="order-by-option"
            *ngFor="let orderBy of orderByOptions; let i = index"
            [value]="orderBy"
          >
            {{ orderBy }}
          </option>
        </select>
      </div>
    </section>
    <section class="pagination-container">

    </section>
    <section class="product-list-container">
      @for (product of productsList; track $index) {
        <app-product-card [image]="product.image" [title]="product.title" [price]="product.price"></app-product-card>
      }
    </section>
  </div>
</main>
