<div class="toolbar">
  <!-- brand -->
  <div class="brand">
    <h1>capputeeno</h1>
  </div>
  <!-- searchbar e checkout -->
  <div class="searchbar-checkout-container">
    <!-- searchbar -->
    <div class="searchbar-container">
      <input
        class="searchbar-input"
        type="text"
        name="searchbar-input"
        id="searchbar-input"
        placeholder="Procurando por algo específico?"
        [(ngModel)]="searchbarInput"
        (keydown.enter)="searchProduct()"
      />
      <span class="search-icon material-icons-outlined" title="search" (click)="searchProduct()">
        search
      </span>
    </div>
    <!-- checkout -->
    <div class="checkout-container">
      <span class="local-mall-icon material-icons-outlined" title="checkout">
        local_mall
      </span>
      <div class="badge-counter-product">{{ productInCheckout }}</div>
    </div>
  </div>
</div>
